.hover {
	outline: 5px solid #8c160e;
}
.answers {
	display: flex;
	flex-direction: column;
}
.form {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.form * {
	margin-right: 0.5rem;
}
.form td {
	text-align: left;
}
.answer {
	overflow-wrap: break-word;
}
